/* 
  テキストリンク
*/

.textLink {
  position: relative;
  padding: 0.1em 0.3em;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
  color: #fff;
  &.mod-icon {
    img {
      width: 17px;
      vertical-align: -1px;
      margin-right: 5px;
    }
  }
  &:after {
    position: absolute;
    bottom: -2px;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .3s;
    transform: translateX(-50%);
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

a.disabled {
  pointer-events: none;
  color: #616363;
}

/*
 text glitch
*/

.textGlitch {
  color: white;
  position: relative;
  margin: 0 auto;

  &:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

}