/* 
  fontの定義
*/

@font-face {
  font-family: 'FujillaOne';
  font-weight: 100;
  src: url('/fonts/FjallaOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-weight: 700;
  src: url('/fonts/NotoSansCJKjp-Black.otf') format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-weight: 400;
  src: url('/fonts/NotoSansCJKjp-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'NotoSansCJKjp';
  font-weight: 100;
  src: url('/fonts/NotoSansCJKjp-Thin.otf') format("opentype");
}
