/*
 * メディアクエリ mixin
 */

 $breakpoints: (
  'iphone5': 'screen and (max-width: 320px)',
  'mobile': 'screen and (max-width: 959px)',
  'tablet': 'screen and (min-width: 600px) and (max-width: 959px)',
  'desktopFollow': 'screen and (min-width: 600px)',
  'desktop': 'screen and (min-width: 960px)',
  'largeDesktop': 'screen and (min-width: 1280px)',
  'verticalFollow': 'screen and (min-height: 720px) and (min-width: 1280px)',
) !default;

@mixin mediaQuery($breakpoint: desktop) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
 * font-family
 */

@mixin font_family($type) {

  @if $type == default {
    font-family: "NotoSansCJKjp", "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  } 
  @if $type == primary {
    font-family: 'FujillaOne',sans-serif;
  } 

}