/*
 * メディアクエリ mixin
 */

 $breakpoints: (
  'iphone5': 'screen and (max-width: 320px)',
  'mobile': 'screen and (max-width: 959px)',
  'tablet': 'screen and (min-width: 600px) and (max-width: 959px)',
  'desktopFollow': 'screen and (min-width: 600px)',
  'desktop': 'screen and (min-width: 960px)',
  'largeDesktop': 'screen and (min-width: 1280px)',
  'verticalFollow': 'screen and (min-height: 720px) and (min-width: 1280px)',
) !default;

@mixin mediaQuery($breakpoint: desktop) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
 * デバイス毎に表示をコントロールするクラス
 */

.mod-displayNone_mobile {
  @include mediaQuery($breakpoint: mobile) {
    display: none !important;
  }
}

.mod-displayNone_mobile_only {
  @include mediaQuery($breakpoint: iphone5) {
    display: none !important;
  }
}

.mod-displayNone_tablet {
  @include mediaQuery($breakpoint: tablet) {
    display: none !important;
  }
}

.mod-displayNone_desktop {
  @include mediaQuery() {
    display: none !important;
  }
}


.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.about-enter-active, .about-leave-active {
  transition: opacity 1s;
}
.about-enter, .about-leave-active {
  opacity: 0;
}